backend/bin/Debug/net9.0/appsettings.Development.json
backend/bin/Debug/net9.0/appsettings.json
backend/bin/Debug/net9.0/backend.deps.json
backend/bin/Debug/net9.0/backend.dll
backend/bin/Debug/net9.0/backend.exe
backend/bin/Debug/net9.0/backend.pdb
backend/bin/Debug/net9.0/backend.runtimeconfig.json
backend/bin/Debug/net9.0/backend.staticwebassets.endpoints.json
backend/bin/Debug/net9.0/Humanizer.dll
backend/bin/Debug/net9.0/Microsoft.AspNetCore.Cryptography.Internal.dll
backend/bin/Debug/net9.0/Microsoft.AspNetCore.Cryptography.KeyDerivation.dll
backend/bin/Debug/net9.0/Microsoft.AspNetCore.Identity.EntityFrameworkCore.dll
backend/bin/Debug/net9.0/Microsoft.AspNetCore.OpenApi.dll
backend/bin/Debug/net9.0/Microsoft.Bcl.AsyncInterfaces.dll
backend/bin/Debug/net9.0/Microsoft.Build.Locator.dll
backend/bin/Debug/net9.0/Microsoft.CodeAnalysis.CSharp.dll
backend/bin/Debug/net9.0/Microsoft.CodeAnalysis.CSharp.Workspaces.dll
backend/bin/Debug/net9.0/Microsoft.CodeAnalysis.dll
backend/bin/Debug/net9.0/Microsoft.CodeAnalysis.Workspaces.dll
backend/bin/Debug/net9.0/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.dll
backend/bin/Debug/net9.0/Microsoft.CodeAnalysis.Workspaces.MSBuild.dll
backend/bin/Debug/net9.0/Microsoft.EntityFrameworkCore.Abstractions.dll
backend/bin/Debug/net9.0/Microsoft.EntityFrameworkCore.Design.dll
backend/bin/Debug/net9.0/Microsoft.EntityFrameworkCore.dll
backend/bin/Debug/net9.0/Microsoft.EntityFrameworkCore.Relational.Design.dll
backend/bin/Debug/net9.0/Microsoft.EntityFrameworkCore.Relational.dll
backend/bin/Debug/net9.0/Microsoft.Extensions.Caching.Abstractions.dll
backend/bin/Debug/net9.0/Microsoft.Extensions.Caching.Memory.dll
backend/bin/Debug/net9.0/Microsoft.Extensions.Configuration.Abstractions.dll
backend/bin/Debug/net9.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
backend/bin/Debug/net9.0/Microsoft.Extensions.DependencyInjection.dll
backend/bin/Debug/net9.0/Microsoft.Extensions.DependencyModel.dll
backend/bin/Debug/net9.0/Microsoft.Extensions.Identity.Core.dll
backend/bin/Debug/net9.0/Microsoft.Extensions.Identity.Stores.dll
backend/bin/Debug/net9.0/Microsoft.Extensions.Logging.Abstractions.dll
backend/bin/Debug/net9.0/Microsoft.Extensions.Logging.dll
backend/bin/Debug/net9.0/Microsoft.Extensions.Options.dll
backend/bin/Debug/net9.0/Microsoft.Extensions.Primitives.dll
backend/bin/Debug/net9.0/Microsoft.OpenApi.dll
backend/bin/Debug/net9.0/Mono.TextTemplating.dll
backend/bin/Debug/net9.0/Npgsql.dll
backend/bin/Debug/net9.0/Npgsql.EntityFrameworkCore.PostgreSQL.Design.dll
backend/bin/Debug/net9.0/Npgsql.EntityFrameworkCore.PostgreSQL.dll
backend/bin/Debug/net9.0/Swashbuckle.AspNetCore.Swagger.dll
backend/bin/Debug/net9.0/Swashbuckle.AspNetCore.SwaggerGen.dll
backend/bin/Debug/net9.0/Swashbuckle.AspNetCore.SwaggerUI.dll
backend/bin/Debug/net9.0/System.CodeDom.dll
backend/bin/Debug/net9.0/System.Composition.AttributedModel.dll
backend/bin/Debug/net9.0/System.Composition.Convention.dll
backend/bin/Debug/net9.0/System.Composition.Hosting.dll
backend/bin/Debug/net9.0/System.Composition.Runtime.dll
backend/bin/Debug/net9.0/System.Composition.TypedParts.dll
backend/bin/Debug/net9.0/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
backend/bin/Debug/net9.0/cs/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
backend/bin/Debug/net9.0/cs/Microsoft.CodeAnalysis.resources.dll
backend/bin/Debug/net9.0/cs/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
backend/bin/Debug/net9.0/cs/Microsoft.CodeAnalysis.Workspaces.resources.dll
backend/bin/Debug/net9.0/de/Microsoft.CodeAnalysis.CSharp.resources.dll
backend/bin/Debug/net9.0/de/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
backend/bin/Debug/net9.0/de/Microsoft.CodeAnalysis.resources.dll
backend/bin/Debug/net9.0/de/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
backend/bin/Debug/net9.0/de/Microsoft.CodeAnalysis.Workspaces.resources.dll
backend/bin/Debug/net9.0/es/Microsoft.CodeAnalysis.CSharp.resources.dll
backend/bin/Debug/net9.0/es/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
backend/bin/Debug/net9.0/es/Microsoft.CodeAnalysis.resources.dll
backend/bin/Debug/net9.0/es/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
backend/bin/Debug/net9.0/es/Microsoft.CodeAnalysis.Workspaces.resources.dll
backend/bin/Debug/net9.0/fr/Microsoft.CodeAnalysis.CSharp.resources.dll
backend/bin/Debug/net9.0/fr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
backend/bin/Debug/net9.0/fr/Microsoft.CodeAnalysis.resources.dll
backend/bin/Debug/net9.0/fr/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
backend/bin/Debug/net9.0/fr/Microsoft.CodeAnalysis.Workspaces.resources.dll
backend/bin/Debug/net9.0/it/Microsoft.CodeAnalysis.CSharp.resources.dll
backend/bin/Debug/net9.0/it/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
backend/bin/Debug/net9.0/it/Microsoft.CodeAnalysis.resources.dll
backend/bin/Debug/net9.0/it/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
backend/bin/Debug/net9.0/it/Microsoft.CodeAnalysis.Workspaces.resources.dll
backend/bin/Debug/net9.0/ja/Microsoft.CodeAnalysis.CSharp.resources.dll
backend/bin/Debug/net9.0/ja/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
backend/bin/Debug/net9.0/ja/Microsoft.CodeAnalysis.resources.dll
backend/bin/Debug/net9.0/ja/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
backend/bin/Debug/net9.0/ja/Microsoft.CodeAnalysis.Workspaces.resources.dll
backend/bin/Debug/net9.0/ko/Microsoft.CodeAnalysis.CSharp.resources.dll
backend/bin/Debug/net9.0/ko/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
backend/bin/Debug/net9.0/ko/Microsoft.CodeAnalysis.resources.dll
backend/bin/Debug/net9.0/ko/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
backend/bin/Debug/net9.0/ko/Microsoft.CodeAnalysis.Workspaces.resources.dll
backend/bin/Debug/net9.0/pl/Microsoft.CodeAnalysis.CSharp.resources.dll
backend/bin/Debug/net9.0/pl/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
backend/bin/Debug/net9.0/pl/Microsoft.CodeAnalysis.resources.dll
backend/bin/Debug/net9.0/pl/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
backend/bin/Debug/net9.0/pl/Microsoft.CodeAnalysis.Workspaces.resources.dll
backend/bin/Debug/net9.0/pt-BR/Microsoft.CodeAnalysis.CSharp.resources.dll
backend/bin/Debug/net9.0/pt-BR/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
backend/bin/Debug/net9.0/pt-BR/Microsoft.CodeAnalysis.resources.dll
backend/bin/Debug/net9.0/pt-BR/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
backend/bin/Debug/net9.0/pt-BR/Microsoft.CodeAnalysis.Workspaces.resources.dll
backend/bin/Debug/net9.0/ru/Microsoft.CodeAnalysis.CSharp.resources.dll
backend/bin/Debug/net9.0/ru/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
backend/bin/Debug/net9.0/ru/Microsoft.CodeAnalysis.resources.dll
backend/bin/Debug/net9.0/ru/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
backend/bin/Debug/net9.0/ru/Microsoft.CodeAnalysis.Workspaces.resources.dll
backend/bin/Debug/net9.0/tr/Microsoft.CodeAnalysis.CSharp.resources.dll
backend/bin/Debug/net9.0/tr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
backend/bin/Debug/net9.0/tr/Microsoft.CodeAnalysis.resources.dll
backend/bin/Debug/net9.0/tr/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
backend/bin/Debug/net9.0/tr/Microsoft.CodeAnalysis.Workspaces.resources.dll
backend/bin/Debug/net9.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.resources.dll
backend/bin/Debug/net9.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
backend/bin/Debug/net9.0/zh-Hans/Microsoft.CodeAnalysis.resources.dll
backend/bin/Debug/net9.0/zh-Hans/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
backend/bin/Debug/net9.0/zh-Hans/Microsoft.CodeAnalysis.Workspaces.resources.dll
backend/bin/Debug/net9.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.resources.dll
backend/bin/Debug/net9.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
backend/bin/Debug/net9.0/zh-Hant/Microsoft.CodeAnalysis.resources.dll
backend/bin/Debug/net9.0/zh-Hant/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
backend/bin/Debug/net9.0/zh-Hant/Microsoft.CodeAnalysis.Workspaces.resources.dll
backend/obj/backend.csproj.nuget.dgspec.json
backend/obj/backend.csproj.nuget.g.props
backend/obj/backend.csproj.nuget.g.targets
backend/obj/project.assets.json
backend/obj/project.nuget.cache
backend/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
backend/obj/Debug/net9.0/apphost.exe
backend/obj/Debug/net9.0/backend.AssemblyInfo.cs
backend/obj/Debug/net9.0/backend.AssemblyInfoInputs.cache
backend/obj/Debug/net9.0/backend.assets.cache
backend/obj/Debug/net9.0/backend.csproj.AssemblyReference.cache
backend/obj/Debug/net9.0/backend.csproj.CoreCompileInputs.cache
backend/obj/Debug/net9.0/backend.csproj.FileListAbsolute.txt
backend/obj/Debug/net9.0/backend.csproj.Up2Date
backend/obj/Debug/net9.0/backend.dll
backend/obj/Debug/net9.0/backend.GeneratedMSBuildEditorConfig.editorconfig
backend/obj/Debug/net9.0/backend.genruntimeconfig.cache
backend/obj/Debug/net9.0/backend.GlobalUsings.g.cs
backend/obj/Debug/net9.0/backend.MvcApplicationPartsAssemblyInfo.cache
backend/obj/Debug/net9.0/backend.MvcApplicationPartsAssemblyInfo.cs
backend/obj/Debug/net9.0/backend.pdb
backend/obj/Debug/net9.0/backend.sourcelink.json
backend/obj/Debug/net9.0/rjsmcshtml.dswa.cache.json
backend/obj/Debug/net9.0/rjsmrazor.dswa.cache.json
backend/obj/Debug/net9.0/rpswa.dswa.cache.json
backend/obj/Debug/net9.0/staticwebassets.build.endpoints.json
backend/obj/Debug/net9.0/staticwebassets.build.json
backend/obj/Debug/net9.0/staticwebassets.build.json.cache
backend/obj/Debug/net9.0/ref/backend.dll
backend/obj/Debug/net9.0/refint/backend.dll
backend/appsettings.json
